.DS_Store

node_modules/
build/
dist/

database/*

log/*
!log/.gitkeep 
*.log

.env
.env.test
.env.development
.env.production

db-certificate.pem
*.pem

firebase-service-account.json
file_bckup
file
images/*
